@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles for the school website */
@layer base {
  body {
    font-family: 'Outfit', sans-serif;
  }
}

@layer components {
  .btn-primary {
    @apply bg-primary hover:bg-red-800 text-white font-semibold py-3 px-6 rounded-lg transition duration-300;
  }
  
  .btn-secondary {
    @apply bg-secondary hover:bg-red-900 text-white font-semibold py-3 px-6 rounded-lg transition duration-300;
  }
  
  .section-title {
    @apply text-3xl md:text-4xl font-bold text-gray-800 mb-4;
  }
  
  .section-subtitle {
    @apply text-lg text-gray-600 mb-8;
  }
  
}

.header-transparent {
  background-color: rgba(255, 255, 255, 0.75) !important;
  backdrop-filter: blur(12px) !important;
  -webkit-backdrop-filter: blur(12px) !important;
}
